/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;900&display=swap');

body {
    background: #fff;
    margin-top: 20px;
}
:root{
    --green-color:#3cb815;
    --light-green-color:#c0eb7b;
    --orange-color:#ff7e00;
    --light-orange-color:#f75f1d;
    --text-color:#1a2428;
    --bg-color:#fff;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

/*---------------*/
.mbtn{
    padding: 0.6rem 1rem;
    background: #3cb815;
    color:#fff;
    font-weight: 400;
    font-size: medium;
    border-radius: 0.5rem;
    border: none;
    align-items: center;
    justify-content:space-between;
    column-gap: 00.5rem;
    max-width: 200px;
}
.mbtn .bx{
    padding: 4px;
    background: #3cb815;
    color: #1a2428;
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}
.mbtn:hover{
    background: #f75f1d;
    transition: 0.2s ease;
}

/*----------------*/

.text-light {
    color: #babbbc !important;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(229, 240, 253, 0.012);
}
.row-bordered {
    overflow: hidden;
}
.account-settings-fileinput { 
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}


